<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="2rem">

  <mat-selection-list fxLayout="column" *ngFor="let character of characters.list">

    <mat-list-item  fxLayoutAlign="end">
      <button mat-button (click)="resetCheckbox(character)">
        reset
        <mat-icon>restart_alt</mat-icon>
      </button>
      
      
      <button mat-button (click)="checkAll(character)">
        check all
        <mat-icon>done</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item *ngFor=" let task of character">
      <mat-checkbox [(ngModel)]="task.checked" (change)="save()"></mat-checkbox>
      <img mat-list-icon [src]="task.image" (click)="openDialog(task)">
      <div mat-line (click)="openDialog(task)">
        {{task.title}}
      </div>
      <mat-chip-list mat-line>
        <mat-chip color="primary" selected *ngFor=" let chip of task.details">
          {{getDetails(chip)}}
        </mat-chip>
      </mat-chip-list>
    </mat-list-item>
  </mat-selection-list>
</div>
