mat-toolbar{
    margin-bottom: 2rem;
}

h2{
    color:rgb(69, 170, 29);
}

div.header{
    margin-top: 2rem;

}
.mat-checkbox{
    margin-left: 3rem;
}

.space{
    margin-bottom: 3rem;
}

.height-tp{
    min-height: 1000px;
}
